# Foreign Keys
This guide demonstrates how to create a database, define tables, and use foreign keys to establish relationships between them.

---
## 1. Create a Database
```sql
CREATE DATABASE school;
USE school;
```
--- 
## 2. Create Tables
We'll create two tables:

- `students`
- `classes`
Each student will belong to a class, creating a one-to-many relationship (one class has many students).

## Create `classes` Table
```sql
CREATE TABLE classes (
    class_id INT AUTO_INCREMENT PRIMARY KEY,
    class_name VARCHAR(50) NOT NULL
);
```
Create `students` Table

```sql
CREATE TABLE students (
    student_id INT AUTO_INCREMENT PRIMARY KEY,
    student_name VARCHAR(100) NOT NULL,
    class_id INT,
    FOREIGN KEY (class_id) REFERENCES classes(class_id)
        ON UPDATE CASCADE
        ON DELETE SET NULL
);
```
---
## 3. Insert Sample Data
Insert into `classes`
```sql
INSERT INTO classes (class_name) VALUES ('Mathematics'), ('Science'), ('History');
```
Insert into `students`

```sql
INSERT INTO students (student_name, class_id) VALUES 
('Alice', 1),
('Bob', 2),
('Charlie', 1);
```
---
## 4. Explanation of Foreign Key Behavior
In the `students` table:

- `class_id` is a foreign key.
- It references `class_id` in the `classes` table.
- `ON DELETE SET NULL`: If a class is deleted, the related students will have `class_id` set to `NULL`.
- `ON UPDATE CASCADE`: If a class ID changes, it will update automatically in the students table.
--- 
## 5. View the Relationships
To check the foreign key constraints:
```sql
SHOW CREATE TABLE students;
```
To see all foreign keys in the current database:
```sql
SELECT 
    table_name, 
    column_name, 
    constraint_name, 
    referenced_table_name, 
    referenced_column_name
FROM 
    information_schema.key_column_usage
WHERE 
    referenced_table_name IS NOT NULL
    AND table_schema = 'school';
```
Understanding `ON UPDATE CASCADE` and `ON DELETE SET NULL`
When you define a foreign key in MySQL, you can specify what should happen to the child table when the parent table is <b>updated</b> or <b>deleted.</b> These are called <b>referential actions.</b>

---

### 1. `ON UPDATE CASCADE`
<b>Definition</b>: If the value in the parent table (i.e., the referenced column) is <b>updated</b>, the corresponding foreign key value in the child table is <b>automatically updated</b> to match.

<b>Example</b>: Suppose we update a class_id in the classes table:
```sql
UPDATE classes SET class_id = 10 WHERE class_id = 1;
```
Then all students in the students table whose class_id was 1 will automatically be updated to 10.

---

### 2. `ON DELETE SET NULL`
<b>Definition</b>: If a row in the parent table is <b>deleted</b>, the foreign key in the child table will be set to <b>NULL</b> for all matching rows.

<b>Example</b>: If we delete a class from the classes table:
```sql
DELETE FROM classes WHERE class_id = 2;
```
Then all `students` in the students table who were in class `2` will have their `class_id` set to `NULL`, indicating that they are no longer assigned to a class.

--- 

### Why Use These Options?
- `ON UPDATE CASCADE` is useful when the primary key of the parent table might change (rare but possible).
- `ON DELETE SET NULL` is helpful when you want to `preserve child records` but indicate that the relationship has been broken.
--- 

## Alternatives
- `ON DELETE CASCADE`: Deletes the child rows when the parent row is deleted.
- `ON DELETE RESTRICT`: Prevents deletion if any child rows exist.
- `ON DELETE NO ACTION`: Same as RESTRICT in MySQL.
- `ON DELETE SET DEFAULT`: Not supported in MySQL (but available in some other DBMSs).