## Views in MySQL
A <b>View</b> in MySQL is like a <b>virtual table</b>. It doesn’t store data by itself but instead <b>shows data from one or more tables</b> through a saved SQL query.

You can use a view just like a regular table: SELECT from it, filter it, join it, etc.

### <b>Why Use Views?</b>
- To <b>simplify complex queries</b> by giving them a name.
- To <b>hide sensitive columns</b> from users.
- To show <b>only specific rows/columns</b> from a table.
- To <b>reuse</b> common query logic across your app or reports.

### <b>Creating a View</b>
Let’s say you have an employees table with lots of details, but you only want to show public employee info (name, department, and salary).
```sql
CREATE VIEW public_employees AS
SELECT name, department, salary
FROM employees;
```

You’re telling MySQL:

<i><b>“Create a view called public_employees that shows only name, department, and salary from the employees table.”</i></b>

### <b>Using a View</b>
Now you can query it like a normal table:

```sql
SELECT * FROM public_employees;
```

Or even apply filters:

```sql
SELECT * FROM public_employees
WHERE department = 'IT';

```

### <b>Updating a View</b>
You can <b>replace</b> a view like this:

```sql
CREATE OR REPLACE VIEW public_employees AS
SELECT name, department
FROM employees;
```

### <b>Dropping (Deleting) a View</b>
```sql
DROP VIEW public_employees;
```

This removes the view from the database.

### <b>Notes</b>
- Views don’t store data. If the underlying table changes, the view reflects that automatically.
- <b>Not all views are updatable.</b> Simple views usually are (like those selecting from one table without grouping or joins), but complex ones may not allow `INSERT`, `UPDATE`, or `DELETE`.
- Views can make your queries <b>cleaner and easier to maintain.</b>


### <b>Example Use Case</b>
You have this query used 5 times across your app:
```sql
SELECT customer_id, name, total_orders, status
FROM customers
WHERE status = 'active' AND total_orders > 5;

```

Instead of repeating it, just create a view:
```sql
CREATE VIEW top_customers AS
SELECT customer_id, name, total_orders, status
FROM customers
WHERE status = 'active' AND total_orders > 5;

```
Now just do:
```sql
SELECT * FROM top_customers;
```