## <b>GROUP BY in MySQL</b>
The <b>GROUP BY</b> clause is used when you want to <b>group rows that have the same values in specified columns.</b>
It’s usually combined with <b>aggregate functions</b> like `COUNT()`, `SUM()`, `AVG()`, `MAX()`, or `MIN()`.

We are telling MySQL:
<b>“Group these rows together by this column, and then apply an aggregate function to each group.”</b>

### <b>Example: Count of employees in each department</b>
```sql
SELECT department, COUNT(*) AS total_employees
FROM employees
GROUP BY department;
```

Here, we’re grouping all employees <b>by their department</b> and counting how many are in each group.

### <b>Example: Average salary per department</b>
```sql
SELECT department, AVG(salary) AS avg_salary
FROM employees
GROUP BY department;
```

We are telling MySQL: <b>“Group the data by department, then calculate the average salary for each group.”</b>


### <b>Using `GROUP BY` with Multiple Columns<b>
You can group by more than one column to get more detailed groupings.

### <b>Example: Count by department and job title</b>
```sql
SELECT department, job_title, COUNT(*) AS count
FROM employees
GROUP BY department, job_title;
```

This will count how many employees hold each job title within each department.

### <b>The `HAVING` Clause</b>
Once you've grouped data using `GROUP BY`, you might want to <b>filter the groups themselves</b> based on the result of an aggregate function. This is where `HAVING` comes in.

`HAVING` is like `WHERE`, but it works after the grouping is done.

#### <b>Example: Departments with more than 5 employees</b>
```sql
SELECT department, COUNT(*) AS total
FROM employees
GROUP BY department
HAVING COUNT(*) > 5;
```
We are telling MySQL: <b>“First group employees by department, then only show those departments where the total number is greater than 5.”</b>

Difference Between WHERE and HAVING
Clause	Used For	Example Use
WHERE	Filters rows before grouping	WHERE salary > 50000
HAVING	Filters groups after grouping	HAVING AVG(salary) > 60000


You can also use both together:
```sql
SELECT department, AVG(salary) AS avg_salary
FROM employees
WHERE status = 'active'
GROUP BY department
HAVING AVG(salary) > 60000;
```

Here’s what’s happening:

1. `WHERE` filters only the active employees.
2. `GROUP BY` groups them by department.
3. `HAVING` filters out departments with low average salary.

### <b>Using `WITH ROLLUP` in MySQL</b>
The `WITH ROLLUP` clause in MySQL is used with `GROUP BY` to add <b>summary rows</b> (totals and subtotals) to your result set.

### <b>Summary</b>
Keyword	Role
GROUP BY	Groups rows with same values into summary rows
HAVING	Filters groups based on aggregate results

Use `GROUP BY` when you want to <b>aggregate</b> data. Use `HAVING` when you want to <b>filter those aggregated groups.</b>