#### Pandas is built on two main data structures:

- Series → One-dimensional (like a single column in Excel)
- DataFrame → Two-dimensional (like a full spreadsheet or SQL table)

## Series — 1D Labeled Array
A Series is like a list with labels (index)

In [1]:
import pandas as pd

In [4]:
s1 = pd.Series([78, 92, 65, 84, 71, 56])
print(s1)
type(s1)

0    78
1    92
2    65
3    84
4    71
5    56
dtype: int64

pandas.core.series.Series

In [5]:
s2 = pd.Series([78, 92, 65, 84, 71, 56],["Himani" , "Shubham" , "Vaishanavi" , "Vaidehi" , "Tanvi" , "Mohit"])
print(s2)
type(s2)

Himani        78
Shubham       92
Vaishanavi    65
Vaidehi       84
Tanvi         71
Mohit         56
dtype: int64

pandas.core.series.Series

## DataFrame — 2D Labeled Table
A DataFrame is like a dictionary of Series — multiple columns with labels.

In [6]:
data = {
    "Name" : ["Himani" , "Shubham" , "Vaishanavi" , "Vaidehi" , "Tanvi" , "Mohit"],
    "Marks" : [78, 92, 65, 84, 71, 56]
}
df = pd.DataFrame(data)
print(df)

         Name  Marks
0      Himani     78
1     Shubham     92
2  Vaishanavi     65
3     Vaidehi     84
4       Tanvi     71
5       Mohit     56

#### <i>Each column in a DataFrame is a Series.</i>

### Index and Labels
Every Series and DataFrame has an Index — it helps with:

- Fast lookups
- Aligning data
- Merging & joining
- Time series operations

In [7]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [9]:
df.columns

Index(['Name', 'Marks'], dtype='object')

##### You can change them using:

In [10]:
df.columns = ["Name" ,"Age"]

In [11]:
print(df)

         Name  Age
0      Himani   78
1     Shubham   92
2  Vaishanavi   65
3     Vaidehi   84
4       Tanvi   71
5       Mohit   56

### Summary
- Series = 1D array with labels
- DataFrame = 2D table with rows + columns
- Both come with index and are the heart of Pandas