In [3]:
df = pd.read_csv("1745500125912-data.csv")

In [1]:
import pandas as pd

In [4]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

### Selecting Rows & Columns
Selecting Columns

In [6]:
df["Actor"]

0         Shah Rukh Khan
1            Salman Khan
2             Aamir Khan
3          Ranbir Kapoor
4          Ranveer Singh
5     Ayushmann Khurrana
6          Rajkummar Rao
7         Hrithik Roshan
8           Akshay Kumar
9          Kartik Aaryan
10          Varun Dhawan
11         Vicky Kaushal
Name: Actor, dtype: object

In [7]:
df[["Actor" , "Film"]]

                 Actor                      Film
0       Shah Rukh Khan                   Pathaan
1          Salman Khan           Tiger Zinda Hai
2           Aamir Khan                    Dangal
3        Ranbir Kapoor                Brahmastra
4        Ranveer Singh                 Padmaavat
5   Ayushmann Khurrana                 Andhadhun
6        Rajkummar Rao                     Stree
7       Hrithik Roshan                       War
8         Akshay Kumar                Good Newwz
9        Kartik Aaryan         Bhool Bhulaiyaa 2
10        Varun Dhawan     Badrinath Ki Dulhania
11       Vicky Kaushal  Uri: The Surgical Strike

### Selecting Rows by Index
Use .loc[] (label-based) and .iloc[] (position-based):

In [8]:
df.loc[0]

Actor                   Shah Rukh Khan
Film                           Pathaan
Year                              2023
Genre                           Action
BoxOffice(INR Crore)              1050
IMDb                               7.2
Name: 0, dtype: object

In [9]:
df.iloc[11]

Actor                              Vicky Kaushal
Film                    Uri: The Surgical Strike
Year                                        2019
Genre                                     Action
BoxOffice(INR Crore)                         342
IMDb                                         8.2
Name: 11, dtype: object

### Select Specific Rows and Columns
df.loc[0, "Name"]        # Value at row 0, column 'Name'<br>
df.iloc[0, 1]            # Value at row 0, column at index 1

In [10]:
df.loc[8 , "Genre"]

'Comedy'

In [11]:
df.iloc[5 , 3]

'Thriller'

#### You can also slice:

In [16]:
df.loc[0:2, ["Actor", "Film", "IMDb"]]   # Rows 0 to 2, selected columns (.loc is inclusive)

            Actor             Film  IMDb
0  Shah Rukh Khan          Pathaan   7.2
1     Salman Khan  Tiger Zinda Hai   6.0
2      Aamir Khan           Dangal   8.4

In [15]:
df.iloc[0:2, 0:2]              # Rows and cols by index position

            Actor             Film
0  Shah Rukh Khan          Pathaan
1     Salman Khan  Tiger Zinda Hai

### Fast Access: .at and .iat
These are optimized for single element access:

In [21]:
df.at[9, "Film"]       # Fast label-based access

'Bhool Bhulaiyaa 2'

In [20]:
df.iat[0, 1]           # Fast position-based access

'Pathaan'

### Filtering with Conditions
Simple Condition

In [22]:
df[df["Year"] > 2017]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

#### Multiple Conditions (AND / OR)

In [24]:
df[(df["IMDb"]>7.5) & (df["Year"]>2011)]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

### Querying with .query()
The .query() method in pandas lets you filter DataFrame rows using a string expression — it's a more readable and often more concise alternative to using boolean indexing.

This is a cleaner, SQL-like way to filter:

In [35]:
df.query("`BoxOffice(INR Crore)` > 200 and Genre == 'Comedy'")

          Actor        Film  Year   Genre  BoxOffice(INR Crore)  IMDb
8  Akshay Kumar  Good Newwz  2019  Comedy                   318   7.0

### Here are the main rules and tips for using .query() in pandas:

1. Column names become variables <br>
You can reference column names directly in the query string:<br>

df.query("age > 25 and city == 'Delhi'")

2. String values must be in quotes<br>
Use single or double quotes around strings in the expression:<br>

df.query("name == 'Harry'")

If you have quotes inside quotes, mix them:

df.query('city == "Mumbai"')

3. Use backticks for column names with spaces or special characters<br>
If a column name has spaces, use backticks (`):<br>

df.query("`first name` == 'Alice'")

4. You can use @ to reference Python variables<br>
To pass external variables into .query():<br>

age_limit = 30
df.query("age > @age_limit")<br>

5. Logical operators<br>
Use these:<br>

and, or, not — instead of &, |, ~ , ==, !=, <, >, <=, >=<br>

Bad:

df.query("age > 30 & city == 'Delhi'")  # ❌

Good:

df.query("age > 30 and city == 'Delhi'")  # ✅

6. Chained comparisons<br>
Just like Python:<br>

df.query("25 < age <= 40")

7. Avoid using reserved keywords as column names<br>
If you have a column named class, lambda, etc., you’ll need to use backticks:<br>

df.query("`class` == 'Physics'")

8. Case-sensitive<br>
Column names and string values are case-sensitive:<br>

df.query("City == 'delhi'")  # ❌ if actual value is 'Delhi'

9. .query() returns a copy, not a view<br><br>
The result is a new DataFrame. Changes won't affect the original unless reassigned:

filtered = df.query("age < 50")

### Summary
- Use df[col], .loc[], .iloc[], .at[], .iat[] to access data.
- Filter with logical conditions or .query() for readable code.
- Mastering selection makes the rest of pandas feel easy.