# Melt and Pivot
melt() — <b>Wide to Long</b>
The melt() method in Pandas is used to unpivot a DataFrame from wide format to long format. In other words, it takes columns that represent different variables and combines them into key-value pairs (i.e., long-form data).

When to Use ` melt()`:
- When you have a DataFrame where each row is an observation, and each column represents a different variable or measurement, and you want to reshape the data into a longer format for easier analysis or visualization.
Syntax:

### Syntax:
df.melt(id_vars=None, value_vars=None, var_name=None, value_name="value", col_level=None)

In [29]:
import pandas as pd

In [30]:
data = {
    'Name': ['Himani', 'Shubham', 'Vaishanavi'],
    'Math': [91, 76, 88],
    'Science': [84, 89, 93],
    'English': [79, 85, 90]
}

df = pd.DataFrame(data)
print(df)

         Name  Math  Science  English
0      Himani    91       84       79
1     Shubham    76       89       85
2  Vaishanavi    88       93       90

### Using ` melt() `:
If we want to "melt" the DataFrame so that each row represents a student-subject pair, we can do:

In [31]:
df_melt = df.melt(id_vars='Name' , value_vars=['Math', 'Science', 'English'] , var_name='Subject' , value_name='Score')
print(df_melt)

         Name  Subject  Score
0      Himani     Math     91
1     Shubham     Math     76
2  Vaishanavi     Math     88
3      Himani  Science     84
4     Shubham  Science     89
5  Vaishanavi  Science     93
6      Himani  English     79
7     Shubham  English     85
8  Vaishanavi  English     90

#### Why Use melt()?
- Data normalization: Helps in transforming data for statistical modeling and data visualization.
- Pivot tables: Many times, plotting functions or statistical models work better with long-format data.<br>
This is useful for converting columns into rows — perfect for plotting or tidy data formats.

## ` pivot()` — Long to Wide
The pivot() function in Pandas is used to reshape data, specifically to turn long-format data into wide-format data. This is the reverse operation of melt().

How it works:<br>
pivot() takes a long-format DataFrame and turns it into a wide-format DataFrame by specifying which columns will become the new columns, the rows, and the values.<br>
Syntax:<br>
   - df.pivot(index=None, columns=None, values=None)

In [32]:
df_pivot = df_melt.pivot(index='Name', columns='Subject', values='Score')
print(df_pivot)

Subject     English  Math  Science
Name
Himani           79    91       84
Shubham          85    76       89
Vaishanavi       90    88       93

#### Why use pivot()?
1. Better data structure: It makes data easier to analyze when you have categories that you want to split into multiple columns.
2. Easier visualization: Often, you want to represent data in a format where categories are split across columns (for example, when creating pivot tables for reporting).
3. Aggregating data: You can perform aggregations (like sum, mean, etc.) to group values before pivoting.

##### Important Notes:
Duplicate Entries: If you have multiple rows with the same combination of index and columns, pivot() will raise an error. In such cases, you should use pivot_table() (which can handle duplicate entries by aggregating them).

In [33]:
data = {
    'Name': ['Himani', 'Himani', 'Himani', 'Shubham', 'Shubham'],
    'Subject': ['Math', 'Math', 'Science', 'Math', 'Math'],
    'Score': [85, 80, 90, 78, 82]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
      Name  Subject  Score
0   Himani     Math     85
1   Himani     Math     80
2   Himani  Science     90
3  Shubham     Math     78
4  Shubham     Math     82

In [28]:
df_pivot = df.pivot_table(index='Name', columns='Subject', values='Score', aggfunc='mean')

print("\nPivot Table (with mean for duplicates):")
print(df_pivot)

Pivot Table (with mean for duplicates):
Subject  Math  Science
Name
Himani   82.5     90.0
Shubham  80.0      NaN

## Summary:
Use melt() to go long, pivot() to go wide<br>
pivot() is used to turn long-format data into wide-format by spreading unique column values into separate columns.<br>
If there are duplicate values for a given combination of index and columns, you should use pivot_table() with an aggregation function to handle the duplicates.