# Reading & Writing Files in Pandas

In [1]:
import pandas as pd

## CSV Files
Read CSV

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [4]:
pd.read_csv("data.csv", usecols=["Actor", "Year"], nrows=10)

                Actor  Year
0      Shah Rukh Khan  2023
1         Salman Khan  2017
2          Aamir Khan  2016
3       Ranbir Kapoor  2022
4       Ranveer Singh  2018
5  Ayushmann Khurrana  2018
6       Rajkummar Rao  2018
7      Hrithik Roshan  2019
8        Akshay Kumar  2019
9       Kartik Aaryan  2022

## Write CSV

In [5]:
df.to_csv("output.csv", index=False)

In [6]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

## Excel Files
Read Excel

In [8]:
df = pd.read_excel("Data.xlsx")

In [14]:
df

         Ship Mode     Profit  Unit Price  Shipping Cost       Customer Name
0      Regular Air  -213.2500       38.94          35.00  Muhammed MacIntyre
1   Delivery Truck   457.8100      208.16          68.02        Barry French
2      Regular Air    46.7075        8.69           2.99        Barry French
3      Regular Air  1198.9710      195.99           3.99       Clay Rozendal
4      Regular Air    -4.7150        5.28           2.99       Claudia Miner
5      Regular Air   782.9100       39.89           3.04     Neola Schneider
6      Regular Air    93.8000       15.74           1.39    Allen Rosenblatt
7   Delivery Truck   440.7200      100.98          26.22     Sylvia Foulston
8      Regular Air  -481.0410      100.98          69.00     Sylvia Foulston
9      Regular Air   -11.6820       65.99           5.26         Jim Radford
10     Regular Air   313.5780      155.99           8.99         Jim Radford
11     Express Air    26.9200        3.69           0.50      Carlos Soltero
12     Regular Air    -5.7700        4.71           0.70      Carlos Soltero
13     Regular Air  -172.8795       15.99          13.18         Carl Ludwig
14     Regular Air  -144.5500        4.89           4.93         Carl Ludwig
15     Regular Air     5.7600        2.88           0.70          Don Miller
16     Regular Air   252.6600       40.96           1.99          Jack Garza
17  Delivery Truck -1766.0100       95.95          74.35          Julia West
18     Regular Air  -236.2675        3.89           7.01      Eugene Barchas
19  Delivery Truck    80.4400      120.98          30.00      Eugene Barchas
20     Regular Air   118.9400      500.98           5.76      Eugene Barchas
21  Delivery Truck  3424.2200      500.98          26.00        Edward Hooks

## JSON Files
Read JSON

In [15]:
df = pd.read_json("data.json")

In [17]:
df

,name,language,id,bio,version
0,Adeel Solangi,Sindhi,V59OF92YF627HFY0,Donec lobortis eleifend condimentum. Cras dict...,6.10
1,Afzal Ghaffar,Sindhi,ENTOCR13RSCLZ6KU,"Aliquam sollicitudin ante ligula, eget malesua...",1.88
2,Aamir Solangi,Sindhi,IAKPO3R4761JDRVG,Vestibulum pharetra libero et velit gravida eu...,7.27
3,Abla Dilmurat,Uyghur,5ZVOEPMJUI4MB4EN,Donec lobortis eleifend condimentum. Morbi ac ...,2.53
4,Adil Eli,Uyghur,6VTI8X6LL0MMPJCC,"Vivamus id faucibus velit, id posuere leo. Mor...",6.49
...,...,...,...,...,...
192,Kristín Sigurðardóttir,Icelandic,ZP5TBBYX6RI2UJ31,Cras dictum dolor lacinia lectus vehicula rutr...,2.80
193,Rohini Vasav,Hindi,UEFML43TCGS04KWM,"Ut accumsan, est vel fringilla varius, purus a...",9.30
194,Sunil Kapoor,Hindi,VY2A0APGVHK5NAW2,"Proin tempus eu risus nec mattis. Ut dictum, l...",8.04
195,Zamokuhle Zulu,isiZulu,XU7BX2F8M5PVZ1EF,Etiam congue dignissim volutpat. Phasellus tin...,8.39
196,Bhupesh Menon,Hindi,0CEPNRDV98KT3ORP,Maecenas tempus neque ut porttitor malesuada. ...,2.69

## Summary
read_* and to_* methods for CSV, Excel, JSON<br>
Use sheet_name for Excel